.produto-page {
  padding: 20px;
}

h1 {
  color: #2e7d32;
}

.produto-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.produto-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.produto-table th,
.produto-table td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.produto-table th {
  background: #fafafa;
  font-weight: 600;
  color: #444;
}

.produto-table tr:hover td {
  background: #f9f9f9;
}

.actions {
  display: flex;
  gap: 8px;
}

/* Botão de edição */
.btn-edit {
  color: #1976d2; /* Azul Material */
  border-radius: 50%;
  padding: 6px;
  transition: all 0.2s ease;
}

.btn-edit:hover {
  background-color: #e3f2fd;
  color: #1976d2;

}

/* Botão de exclusão */
.btn-delete {

  color: #d32f2f; /* Vermelho Material */
  border-radius: 50%;
  padding: 6px;
  transition: all 0.2s ease;
}

.btn-delete:hover {
  background-color: #ffebee;
  color: #d32f2f;
}

.btn{
  font-size: 16px;
}
