<div class="produto-page">
  <p class="message" *ngIf="message">{{ message }}</p>

  <!-- PRODUTO HEADER -->
  <div class="produto-header">
    <h1>Produtos em Estoque</h1>
    <button mat-raised-button color="primary" class="btn" (click)="navigateToAddProdutoPage()">
      <mat-icon>add</mat-icon>
      Adicionar Produto
    </button>
  </div>

  <!-- PRODUTO LISTA EM TABELA -->
  <div class="produto-table-wrapper" *ngIf="produtos.length > 0">
    <table class="produto-table">
      <thead>
        <tr>
          <th>NOME</th>
          <th>SKU</th>
          <th>PREÇO UNITÁRIO</th>
          <th>QUANTIDADE EM ESTOQUE</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td><strong>{{ produto.nome }}</strong></td>
          <td>{{ produto.sku }}</td>
          <td>R$ {{ produto.preco }}</td>
          <td>{{ produto.quantidadeEstoque }}</td>
          <td class="actions">
            <button mat-icon-button class="btn-edit" (click)="navigateToEditProdutoPage(produto.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btn-delete" (click)="handleProdutoDelete(produto.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION COMPONENT -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
