<div class="dashboard-layout">
  <!-- SIDEBAR -->
  <div class="sidebar">
    
    <img src="assets/imagens/logo-md-final.png" alt="Logo Marcenaria" />
    
      <ul class="nav-links">
      <li *ngIf="isAuth()"><a routerLink="/dashboard">Dashboard</a></li>
      <li *ngIf="isAuth()"><a routerLink="/orcamentos">Orçamentos</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/categorias">Categorias</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/produtos">Produtos</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/fornecedores">Fornecedores</a></li>
      <li *ngIf="isAuth()"><a routerLink="/compra">Compras</a></li>
      <li *ngIf="isAuth()"><a routerLink="/venda">Saídas</a></li>
      <li *ngIf="isAuth()"><a routerLink="/perfil">Perfil</a></li>
      <li *ngIf="isAuth()"><a routerLink="/imagem">Gerador de imagem</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/register">Cadastrar-se</a></li>
      <li *ngIf="isAuth()"><a (click)="logOut()">Sair</a></li>
    </ul>
  </div>

  <!-- CONTEUDO PRINCIPAL -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
