.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: normal;
}

.pagination-button {
    background-color: #555;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #2F4F4F;
}

.pagination-button.active {
    background-color: #2e7d32;
    color: white;
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}