<div class="dashboard-container">
  <h1>Dashboard de Orçamentos</h1>

  <div style="margin-bottom: 50px; margin-top: 30px">
    <label>Selecionar Mês:</label>
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let mes of meses" [value]="mes.valor">
        {{ mes.nome }}
      </option>
    </select>

    <label>Selecionar Ano:</label>
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
    </select>

    <button (click)="loadMonthlyData()">Exibir Dados Mensais</button>
  </div>

  <div style="margin-bottom: 30px">
    <h2>Quantidade de Orçamentos por Tipo</h2>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="'vivid'"
      [results]="orcamentoTypeData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Tipo de Orçamento"
      yAxisLabel="Contagem"
      [animations]="animations"
    >
    </ngx-charts-bar-vertical>
  </div>

  <div style="margin-bottom: 30px">
    <h2>Contagem total de orçamentos por tipo</h2>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="'cool'"
      [results]="orcamentoAmountData"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="false"
      [animations]="animations"
    >
    </ngx-charts-pie-chart>
  </div>

  <h2 style="margin-bottom: 50px">Gráfico de Orçamentos Mensais</h2>

  <div *ngIf="monthlyOrcamentoData.length">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="'flame'"
      [results]="monthlyOrcamentoData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="showLegend"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Dia do mês"
      yAxisLabel="Preço total"
      [animations]="animations"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
