<div class="fornecedor-page">
  <p *ngIf="message" class="message">{{ message }}</p>

  <!-- HEADER -->
  <div class="fornecedor-header">
    <h1>Fornecedores</h1>
    <div class="add-fornecedor">
      <button class="btn-novo" (click)="navigateToAddFornecedorPage()">
        + Novo Fornecedor
      </button>
    </div>
  </div>

  <!-- LISTA -->
  <ul class="fornecedor-list" *ngIf="fornecedores.length > 0">
    <li *ngFor="let fornecedor of fornecedores" class="fornecedor-item" [attr.key]="fornecedor.id">
      <span>{{ fornecedor.nome }}</span>

      <div class="fornecedor-actions">
        <button mat-icon-button class="btn-edit" (click)="navigateToEditFornecedorPage(fornecedor.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="btn-delete" (click)="handleDeleteFornecedor(fornecedor.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
