.fornecedor-page {
    padding: 20px;
    }
     
    .fornecedor-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #2e7d32;
    margin-left: 10px;
    }

    .btn{
        font-size: 18px;
    }
     
     
    .add-fornecedor {
    margin: 0 auto;
    }
     
    .fornecedor-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    }
    .fornecedor-item {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    margin: 5px;
    font-size: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
    color: #2F4F4F;
    font-weight: 550;
    }
     
    .fornecedor-item:hover {
    background-color: #f9ffff;
    }
     
    .fornecedor-actions button {
     
    margin-left: 10px;
    background-color: #17a2b8;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    }
     
    .fornecedor-actions button:last-child {
    background-color: #dc3545;
    }
    
    /* Botão Editar */
.btn-edit {
  background: #e3f2fd;
  color: #1976d2;
}

.btn-edit:hover {
  background: #1976d2;
  color: white;
}

/* Botão Excluir */
.btn-delete {
  background: #ffebee;
  color: #d32f2f;
}

.btn-delete:hover {
  background: #d32f2f;
  color: white;
}