<div class="categoria-page">
  <div *ngIf="message" class="message">
    {{ message }}
  </div>

  <div class="categoria-header">
    <h1>Categorias</h1>

    <!-- FORMULARIO À DIREITA -->
    <div class="add-cat">
      <input
        type="text"
        [(ngModel)]="categoryName"
        placeholder="Nome da categoria"
      />
      <button *ngIf="!isEditing" class="btn-novo" (click)="addCategory()">
        + Adicionar Categoria
      </button>
      <button *ngIf="isEditing" class="btn-edit-form" (click)="editCategory()">
        <mat-icon>edit</mat-icon>
        Editar Categoria
      </button>
    </div>
  </div>

  <!-- DISPLAY CATEGORIAS -->
  <ul *ngIf="categories.length > 0" class="categoria-list">
    <li *ngFor="let categoria of categories" class="categoria-item">
      <span>{{ categoria.nome }}</span>
      <div class="categoria-actions">
        <button mat-icon-button class="btn-edit" (click)="handleEditCategory(categoria)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="btn-delete" (click)="handleDeleteCategory(categoria.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
